.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 7.04vw;
    line-height: calc(100% + 4px);
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 97%;
    font-size: 42px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    max-width: 100%;
    font-size: 10vw;
    line-height: calc(100% + 3px);
    padding-left: 16px;
    padding-right: 16px;
  }
}
