.lead {
  max-width: 984px;
  text-align: center;
}


@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 38px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding-top: 32px;
  }
}
