.lead__subtitle {
  max-width: 580px;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 65%;
    font-size: 3.907vw;
    line-height: calc(100% + 6px);
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: calc(320px - 32px);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
