.place__link {
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  opacity: 1;
  transition: opacity .4s;
}

.place__link:hover {
  opacity: .8;
}
