@media screen and (max-width: 1024px) {
  .footer__navigation {
    margin-right: 36px;
  }
}

@media screen and (max-width: 680px) {
  .footer__navigation {
    margin-right: 0;
    margin-bottom: 48px;
  }
}
