.cover__title {
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0 0 32px;
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 74%;
    font-size: 9.375vw;
    line-height: calc(100% + 4px);
  }
}

@media screen and (max-width: 680px) {
  .cover__title {
    margin-bottom: 4.706vw;
  }
}
