.header__lang-radio:first-child {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  clip: rect(0 0 0 0);
}

.header__lang-radio:last-child {
  font-size: 24px;
  line-height: 40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .4s;
}

.header__lang-radio:last-child:hover {
  opacity: .8;
}

.header__lang-radio:first-child:checked + .header__lang-radio:last-child {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 425px) {
  .header__lang-radio:last-child {
    font-size: 18px;
    line-height: 35px;
  }
}
