.place__url-heading {
  display: block;
  color: #AAA;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    margin-bottom: 12px;
  }
}
